Tags/1.7/Application/WebAppProject/EM_Report/Service References/ActionServiceReference/ActionService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EM_Report.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EM_Report.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemId" type="xs:int" />
      <xs:element minOccurs="0" name="TeamId" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="ArrayOfTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Team" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeam" nillable="true" type="tns:ArrayOfTeam" />
  <xs:complexType name="Dashboard_TimeAccess">
    <xs:sequence>
      <xs:element minOccurs="0" name="Create_Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Owner" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="StatusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dashboard_TimeAccess" nillable="true" type="tns:Dashboard_TimeAccess" />
  <xs:complexType name="ArrayOfDashboard_TimeAccess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dashboard_TimeAccess" nillable="true" type="tns:Dashboard_TimeAccess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDashboard_TimeAccess" nillable="true" type="tns:ArrayOfDashboard_TimeAccess" />
</xs:schema>